<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="leaflet.css" type="text/css"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" type="text/css"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" type="text/css"/>

		<script src="leaflet-src.js"></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

		<link rel="stylesheet" href="static/css/custom/main.css" type="text/css">	</head>
	<body>
		<h1>Geodata Visualization</h1>
		<p>Data for food establishments in Montreal</p>
		<div id="map"></div>
		<p>(source: <a href="https://donnees.montreal.ca/ville-de-montreal/etablissements-alimentaires" target="_blank">Données Montréal</a>)</p>

		<script src="src/custom/main.js"></script>

	</body>
</html>
