<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="leaflet.css" type="text/css"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" type="text/css"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" type="text/css"/>
		<script src="leaflet-src.js"></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

		<link rel="stylesheet" href="static/css/custom/main.css" type="text/css">


	</head>
	<body>
		<h1>Geodata Visualization</h1>
		<div id="map"></div>

		<script src="src/custom/main.js"></script>

	</body>
</html>
